.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form div {
  margin-bottom: 10px;
}

.results {
  flex: 1;
  margin-left: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.material-button {
  background-color: #1976d2; /* Color de fondo azul */
  color: white; /* Color de texto blanco */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor tipo pointer al pasar */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.company-name {
  font-size: 24px;
  font-weight: bold;
  /* color de fondo que ocupe toda la pantalla */
  background-color: #282c34;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form div {
  margin-bottom: 15px; /* Espacio adicional entre cada campo */
  display: flex; /* Hacer que cada div sea un contenedor flex */
  align-items: center; /* Centrar verticalmente los elementos */
}

.form label {
  margin-right: 10px; /* Espacio a la derecha del label */
  width: 150px; /* Ancho fijo para los labels */
  text-align: right; /* Alinear texto del label a la derecha */
}

.form input {
  flex: 1; /* Hacer que los inputs ocupen todo el espacio restante */
}

.results {
  flex: 1; /* Hacer que el contenedor de resultados ocupe el espacio restante */
  margin-left: 100px; /* Espacio a la izquierda */
}